{
    "server": ["0.0.0.0"],
    "server_port": 8888,
    "password": "{PAAAASWORD}",
    "timeout": 300,
    "method": "xchacha20-ietf-poly1305",
    "no_delay": true,
    "fast_open": true,
    "reuse_port": true,
    "workers": 1,
    "plugin": "xray-plugin",
    "nameserver": "127.0.0.1",
    "plugin_opts": "server;tls;mode=quic;fast-open;path=/xray;host=domain.me;cert=/tls/cert;key=/tls/key;loglevel=none",
    "mode": "tcp_and_udp"
}